<H1>Lista de PRODUCTOS</H1>

{{#each payload}}
  <li>Título:   {{this.title}}. Code: {{this.code}}. Stock: {{this.stock}}. Precio: $ {{this.price}}. </li>
{{/each}}
<script>
    let hasNextPage=false;
    hasNextPage={{hasNextPage}}
    console.log(hasNextPage);
</script>
<div>   
    <p>Tiene página previa: {{hasPrevPage}}</p>
    <p>Tiene página siguiente: {{hasNextPage}}</p>
    <h2>Página actual: {{page}}</h2>
</div>

<div>
{{#if hasPrevPage}}
<p> Pagina previa es: {{prevPage}}</p>
<a href="/api/v1/views/products?page={{prevPage}}"><button>Anterior</button></a>
{{/if}}
</div>

<div>
{{#if hasNextPage}}
<p> Pagina siguiente es: {{nextPage}}</p>
<a href="/api/v1/views/products?page={{nextPage}}"><button>Siguiente</button></a>
{{/if}}
</div>
